@page "/CreateProject"

@using BuildingCompany
@using BuildingCompany.Data
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.RazorPages
@using MongoDB.Driver
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject User US
@inject MongoDb MongoDb

<PageTitle>Login</PageTitle>

@{
    @if (MongoDb.currentCustomer?.Type == "Газификация")
    {
        <div>
            <div>   
                <form @onsubmit="@CreateGazProject">
                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Название</label>
                            </div>
                            <div class="col-8">
                                <input @bind-value="_name" asp-for="Input.Login" class="form-control" id="loginText" name="LoginInputText" />
                            </div>
                            <span asp-validation-for="Input.Login" class="text-danger"></span>
                        </div>
                    </div>
                    </p>

                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Письмо-обращение на имя Президента</label>
                            </div>
                            <div class="col-8">
                                <input  asp-for="Input.Login" class="form-control" id="loginText" name="LoginInputText" />
                                <p><input type="checkbox"> <a>Обязательный документ</a> </p>
                            </div>
                            <span asp-validation-for="Input.Login" class="text-danger"></span>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Задание на проектирование</label>
                            </div>
                            <div class="col-8">
                                <input type="text" asp-for="Input.Password" class="form-control" id="passwordText"/>
                                <p><input type="checkbox"> <a>Обязательный документ</a> </p>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger" id="passwordText"></span>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Ситуационный план</label>
                            </div>
                            <div class="col-8">
                                <input type="text" asp-for="Input.Password" class="form-control" id="passwordText" />
                                <p><input type="checkbox"> <a>Обязательный документ</a> </p>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger" id="passwordText"></span>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Технические условия на присоединение к газораспределительной сети</label>
                            </div>
                            <div class="col-8">
                                <input type="text" asp-for="Input.Password" class="form-control" id="passwordText" />
                                <p><input type="checkbox"> <a>Обязательный документ</a> </p>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger" id="passwordText"></span>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Технический паспорт объекта СКБ</label>
                            </div>
                            <div class="col-8">
                                <input type="text" asp-for="Input.Password" class="form-control" id="passwordText" />
                                <p><input type="checkbox"> <a>Обязательный документ</a> </p>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger" id="passwordText"></span>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Технический паспорт существующей котельной</label>
                            </div>
                            <div class="col-8">
                                <input type="text" asp-for="Input.Password" class="form-control" id="passwordText" />
                                <p><input type="checkbox"> <a>Обязательный документ</a> </p>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger" id="passwordText"></span>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Акт обследования объекта</label>
                            </div>
                            <div class="col-8">
                                <input type="text" asp-for="Input.Password" class="form-control" id="passwordText" />
                                <p><input type="checkbox"> <a>Обязательный документ</a> </p>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger" id="passwordText"></span>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Технические условия на сети электроснабжения, водоснабжения, водоотведения при установке БМК</label>
                            </div>
                            <div class="col-8">
                                <input type="text" asp-for="Input.Password" class="form-control" id="passwordText" />
                                <p><input type="checkbox"> <a>Обязательный документ</a> </p>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger" id="passwordText"></span>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Согласование посадки котельной</label>
                            </div>
                            <div class="col-8">
                                <input type="text" asp-for="Input.Password" class="form-control" id="passwordText" />
                                <p><input type="checkbox"> <a>Обязательный документ</a> </p>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger" id="passwordText"></span>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Проектировщик</label>
                            </div>
                            <div class="col-8">
                                <select id="types" class="form-control">
                                @foreach (var Projector in MongoDb.GetProjectorsList())
                                {
                                    <option>@(Projector.Designation)</option>
                                }
                                </select>
                            </div>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Застройщик</label>
                            </div>
                            <div class="col-8">
                                <select id="types" class="form-control">
                                    @foreach (var Developer in MongoDb.GetDevelopersList())
                                    {
                                        <option>@(Developer.Designation)</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    </p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                            </div>
                            <div class="col-8">
                                <button type="submit" class="btn btn-success form-control">Создать проект</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        }

    @if (MongoDb.currentCustomer?.Type == "Водоснабжение")
    {
        <div>
            <div>
                <form>
                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Название</label>
                            </div>
                            <div class="col-8">
                                <input @bind-value="_name" asp-for="Input.Login" class="form-control" id="loginText" name="LoginInputText" />
                            </div>
                            <span asp-validation-for="Input.Login" class="text-danger"></span>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Акт обследования и выбора трассы сети водоснабжения</label>
                            </div>
                            <div class="col-8">
                                <input asp-for="Input.Login" class="form-control" id="loginText" name="LoginInputText" />
                                <p><input type="checkbox"> <a>Обязательный документ</a> </p>
                            </div>
                            <span asp-validation-for="Input.Login" class="text-danger"></span>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Акт обследования и выбор места под проектируемую скважину</label>
                            </div>
                            <div class="col-8">
                                <input type="text" asp-for="Input.Password" class="form-control" id="passwordText" />
                                <p><input type="checkbox"> <a>Обязательный документ</a> </p>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger" id="passwordText"></span>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Ситуационный план</label>
                            </div>
                            <div class="col-8">
                                <input type="text" asp-for="Input.Password" class="form-control" id="passwordText" />
                                <p><input type="checkbox"> <a>Обязательный документ</a> </p>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger" id="passwordText"></span>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>План населенного пункта</label>
                            </div>
                            <div class="col-8">
                                <input type="text" asp-for="Input.Password" class="form-control" id="passwordText" />
                                <p><input type="checkbox"> <a>Обязательный документ</a> </p>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger" id="passwordText"></span>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Технические условия водоснабжения</label>
                            </div>
                            <div class="col-8">
                                <input type="text" asp-for="Input.Password" class="form-control" id="passwordText" />
                                <p><input type="checkbox"> <a>Обязательный документ</a> </p>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger" id="passwordText"></span>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Технические условия электроснабжения</label>
                            </div>
                            <div class="col-8">
                                <input type="text" asp-for="Input.Password" class="form-control" id="passwordText" />
                                <p><input type="checkbox"> <a>Обязательный документ</a> </p>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger" id="passwordText"></span>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Градостроительный план земельного участка</label>
                            </div>
                            <div class="col-8">
                                <input type="text" asp-for="Input.Password" class="form-control" id="passwordText" />
                                <p><input type="checkbox"> <a>Обязательный документ</a> </p>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger" id="passwordText"></span>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Справка согласования с собственниками земельных участков</label>
                            </div>
                            <div class="col-8">
                                <input type="text" asp-for="Input.Password" class="form-control" id="passwordText" />
                                <p><input type="checkbox"> <a>Обязательный документ</a> </p>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger" id="passwordText"></span>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Документ-подтверждение проведения межевание</label>
                            </div>
                            <div class="col-8">
                                <input type="text" asp-for="Input.Password" class="form-control" id="passwordText" />
                                <p><input type="checkbox"> <a>Обязательный документ</a> </p>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger" id="passwordText"></span>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Заключение Органа Роспотребнадзора</label>
                            </div>
                            <div class="col-8">
                                <input type="text" asp-for="Input.Password" class="form-control" id="passwordText" />
                                <p><input type="checkbox"> <a>Обязательный документ</a> </p>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger" id="passwordText"></span>
                        </div>
                    </div>
                            </p>
                    <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Сведения о наличии водозаборных скважин</label>
                            </div>
                            <div class="col-8">
                                <input type="text" asp-for="Input.Password" class="form-control" id="passwordText" />
                                <p><input type="checkbox"> <a>Обязательный документ</a> </p>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger" id="passwordText"></span>
                        </div>
                    </div>
                    </p>
                <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Проектировщик</label>
                            </div>
                            <div class="col-8">
                                <select id="types" class="form-control">
                                <option selected></option>
                                    @foreach (var Projector in MongoDb.GetProjectorsList())
                                    {
                                        <option>@(Projector.Designation)</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    </p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Застройщик</label>
                            </div>
                            <div class="col-8">
                                <select id="types" class="form-control">
                                    <option selected></option>
                                    @foreach (var Developer in MongoDb.GetDevelopersList())
                                    {
                                        <option>@(Developer.Designation)</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                            </div>
                            <div class="col-8">
                                <button type="submit" class="btn btn-success form-control">Создать проект</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }
}

@code{
    Project project = new Project();
    string? _name;

    public async Task CreateGazProject()
    {
        project.type = MongoDb.currentCustomer.Type;
        project.Name = _name;

        MongoDb.AddProjectToDataBase(project);

        await JS.InvokeVoidAsync("alert", "Проект был создан!");
        return;
   }
}