@page "/Projects"

@using BuildingCompany
@using BuildingCompany.Data
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.RazorPages
@using MongoDB.Driver
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject User US
@inject MongoDb MongoDb

<PageTitle>Projects</PageTitle>

@{
    @if (MongoDb.currentUser != null)
    {
        @if (MongoDb.currentCustomer?.Type == "Газификация")
        {
            <h1>Список доступных проектов:</h1>
            <form @onsubmit="@ProjectOnClick">
                @foreach (Project project in MongoDb.GetProjects())
                {
                    if (project.type == "Газификация")
                    {
                        <p>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Название</label>
                                    </div>
                                    <div class="col-8">  
                                        <input @bind-value="@(project.Name)" asp-for="Input.Login" id="loginText" readonly/>
                                    </div>
                                </div>
                            </div>
                        </p>
                    }
                }
                <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Выбрать проект</label>
                            </div>
                            <div class="col-8">
                                <select @bind="_name">
                                    <option selected></option>
                                    @foreach (Project project in MongoDb.GetProjects())
                                    {
                                        @if (project.type != null)
                                        {
                                            <option>@(project.Name)</option>
                                        }
                                    }
                                </select>
                            </div>

                        </div>
                    </div>
                </p>
                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                        </div>
                        <div class="col-8">
                            <button type="submit" class="btn btn-success form-control">Выбрать проект</button>
                        </div>
                    </div>
                </div>
            </form>
        }

        @if (MongoDb.currentCustomer?.Type == "Водоснабжение")
        {
            <h1>Список доступных проектов:</h1>
            <form @onsubmit="@ProjectOnClick">
                @foreach (Project project in MongoDb.GetProjects())
                {
                    if (project.type == "Водоснабжение")
                    {
                        <p>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Название</label>
                                    </div>
                                    <div class="col-8">  
                                        <input @bind-value="@(project.Name)" asp-for="Input.Login" id="loginText" readonly/>
                                    </div>
                                </div>
                            </div>
                        </p>
                    }
                }
                <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Выбрать проект</label>
                            </div>
                            <div class="col-8">
                                <select @bind="_name">
                                    <option selected></option>
                                    @foreach (var project in MongoDb.GetProjects())
                                    {
                                        @if (project.type == "Водоснабжение")
                                        {
                                            <option>@(project.Name)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </p>
                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                        </div>
                        <div class="col-8">
                            <button type="submit" class="btn btn-success form-control">Выбрать проект</button>
                        </div>
                    </div>
                </div>
            </form>
        }

        @if (MongoDb.currentDeveloper != null && MongoDb.currentUser?.Login == MongoDb.currentDeveloper?.Login)
        {
            <h1>Доступные вам проекты:</h1>
            <form @onsubmit="@ProjectOnClick">
                @foreach (Project project in MongoDb.GetProjects())
                {
                    if (project.developer.Designation == MongoDb.currentDeveloper.Designation)
                    {

                        <div class="form-group">
                            <div class="row">
                                <div class="col-8">
                                    <p>
                                        <a class="form-control"> Название: @(project.Name) Тип:@(project.type)</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                }
                <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Выбрать проект</label>
                            </div>
                            <div class="col-8">
                                <select @bind="_name">
                                    <option selected></option>
                                    @foreach (var project in MongoDb.GetProjects())
                                    {
                                        @if (project.developer.Designation == MongoDb.currentDeveloper.Designation)
                                        {
                                            <option>@(project.Name)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </p>
                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                        </div>
                        <div class="col-8">
                            <button type="submit" class="btn btn-success form-control">Выбрать проект</button>
                        </div>
                    </div>
                </div>
            </form>
        }

        @if (MongoDb.currentProjector != null && MongoDb.currentUser.Login == MongoDb.currentProjector.Login)
        {
            <h1>Доступные вам проекты:</h1>
            <form @onsubmit="@ProjectOnClick">
                @foreach (Project project in MongoDb.GetProjects())
                {
                    if (project.projector.Designation == MongoDb.currentProjector.Designation)
                    {

                        <div class="form-group">
                            <div class="row">
                                <div class="col-8">
                                    <p>
                                        <a class="form-control"> Название: @(project.Name) Тип:@(project.type)</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                }
                <p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label>Выбрать проект</label>
                            </div>
                            <div class="col-8">
                                <select @bind="_name">
                                    <option selected></option>
                                    @foreach (var project in MongoDb.GetProjects())
                                    {
                                        @if (project.projector.Designation == MongoDb.currentProjector.Designation)
                                        {
                                            <option>@(project.Name)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </p>
                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                        </div>
                        <div class="col-8">
                            <button type="submit" class="btn btn-success form-control">Выбрать проект</button>
                        </div>
                    </div>
                </div>
            </form>
        }
    }
}

@code {
    string _name;

    public async Task ProjectOnClick()
    {
        if (_name != null)
        {

            MongoDb.currentProject = MongoDb.SearchProject(_name);
            NavigationManager.NavigateTo("/ProjectView");
        }

        else
        {
            await JS.InvokeVoidAsync("alert", "Выберите проект!");
            return;
        }
    }
   
}